.select{
        cursor: pointer;
        display: inline-block;
        position: relative;
        font: normal 11px/22px Arial, Sans-Serif;
        color: black;
        border: 1px solid #ccc;
        padding: 30px;
}